<!-- views/partials/footer.hbs -->
<footer class="text-center text-muted mt-5 mb-3 small">
  <p>Hệ thống quản lý nhân khẩu, hộ khẩu và các khoản thu trong chung cư BlueMoon.<br>
    © {{year}} - Phát triển bởi nhóm Sinh viên Đại học</p>
</footer>
